*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #0C1B33;
    --second-bg-color: #78A1BB;
    --img-border-color: #fa9e4257;
    --text-color: #ebf5ee;
    --accent-text-color: #fa9f42;
    --shadow-color: #000;
}
body{
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);

}
section{
    min-height: 100vh;
    padding: 5rem 9% 1rem;
}

.heading {
    margin-top: 2.5rem;
    font-size: 3rem;
}
.heading span{
    color: var(--accent-text-color);
}
/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo-text{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}
.toggle{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
.toggle i{
    color: var(--text-color);
}
.toggle i:hover{
    color: var(--accent-text-color);
}
.navbar{
    list-style-type: none;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color: var(--text-color);
    margin-right: 2.5rem;
    transition: .3s;
}
.navbar li a:hover,
.navbar li a.active{
    color: var(--accent-text-color);
}

/* HOME PAGE */

.home .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6rem;
    margin-top: 4rem;;
}
.container .home-img{
    width: 500px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
    border: .75rem solid var(--img-border-color);
    box-shadow: 5px 7px 25px var(--shadow-color);

}
.home-img img{
    height: 100%;
    width: 100%;
    transition: .5s;
}
.home-img img:hover{
    transform: scale(1.2)
}
.home-content{
    max-width: 500px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.home-content h5{
    color: var(--text-color);
    font-size: 1.65rem;
}
.home-content h5 span{
    color: var(--accent-text-color);
    font-size: 1.75rem;
}
.home-content h1{
    color: var(--accent-text-color);
    font-size: 3.5rem;
    line-height: 1.5;
}
.home-content p{
    color: var(--text-color);
    line-height: 1.2rem;
    margin-bottom: 1rem;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: var(--accent-text-color);
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid var(--text-color);
    box-shadow: 0 10px 10px -5px rgb(0 0 0 /75);
}
.btn-group .btn:hover{
    border-color: var(--accent-text-color);
    color: var(--accent-text-color)
}
.home-content .social i{
    color: var(--text-color);
    font-size: 1.25rem;
    margin-right: 10px;
    transition: .5s;
    border: .1rem solid var(--text-color);
    border-radius: 50%;
    background: transparent;
    padding: 1%;
}
.home-content .social i:hover{
    color:var(--accent-text-color);
    transform: scale(2) rotate(360deg);
    border-color: var(--accent-text-color);
}

/* ABOUT PAGE */
.about{
    background-color: var(--second-bg-color);
}
.about .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.about .about-img{
    width: 500px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 3rem;
    border: .75rem solid var(--img-border-color);
    box-shadow: 5px 7px 25px var(--shadow-color);

}
.about .about-img img{
    height: 100%;
    width: 100%;
    transition: .5s;
}

.about-content{
    max-width: 500px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.about-content h2{
    text-align: left;
    line-height: 1.5;
}
.about-content p{
    line-height: 1.2;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

/* PORTFOLIO PAGE*/

.logos{
    position: relative;
}

.logos .main-stack{
    text-align: center;
    font-size: 1.5rem;
}
.logos .main-stack span{
    color:var(--accent-text-color)
}
.logos .stack-logos{
    display:grid;
}
.logos .stack-logos img{
    background: black;
}
.logos .skills{
    text-align: center;
    font-size: 1.5rem;
}
.logos .skills span{
    color: var(--accent-text-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    row-gap: 6rem;
    margin-bottom: 4rem;
}

.portfolio-container .portfolio-box{
    display: flex;
    position: relative;
    width: 100%;
    height: 20rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    overflow: hidden;   
}

.portfolio-box img{
    width: 100%;
}

.portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}
.portfolio-layer a i:hover{
    transform: scale(1.2);
}

/* RESUME PAGE */
.resume{
    background-color: var(--second-bg-color);
}
.resume h2{
    margin-bottom: 4rem;
}
.resume .resume-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.resume iframe{
    width: 85%;
    height:60rem;
}
/* CONTACT PAGE*/
.contact h2{
    margin-bottom: 3rem
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 2rem;
}
.contact form ::placeholder{
    color: var(--text-color);
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .input-box input,
form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    resize: none;
}
.contact form .btn{
    align-items: center;
    padding: 12px 25px;
    border-color: var(--accent-text-color);
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 30px;
    border: 2px solid var(--text-color);
    box-shadow: 0 10px 10px -5px rgb(0 0 0 /75);
    margin-top: 2rem;
    cursor: pointer;
}
.contact form .btn:hover{
    border-color: var(--accent-text-color);
    color: var(--accent-text-color)
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-content{
    font-size: 1rem
}

/* DEVICE SIZE MODIFICATIONS*/

@media(max-width:930px)
{
    nav .toggle{
        display: initial;
    }
    .click {
        top:45px;
    }
    nav .navbar{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: var(--bg-color);
        z-index: 3;
        box-shadow: 5px 13px 30px rgb(0 0 0 .1);
        transition: .5s;
        padding: 25px 0px;
    }
    nav .navbar li{
        display: block;
    }
    nav .navbar li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navbar.open{
        right: 0;
    }
}
@media(max-width: 1280px){
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .home-content{
        padding: 40px 0px;
    }
    .container .home-img{
        width: 350px;
        height: 450px;
    }
    .about .about-img{
        display: none;
    }
    .portfolio-container{
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }

}